html {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	max-width: 600px;
	background-color: #fff;
	box-shadow: 0 0 10px #ddd;
}
button {
	font-weight: bold;
	margin: 10px;
	padding: 5px;
	border: 2px solid #999;
	border-radius: 5px;
	background-color: #ff4141;
	color: #fff;
}
button:hover {
	background-color: #999;
}
button:active,
button:focus {
	border-color: #000;
	background-color: #000;
}
.game {
	background-color: gray;
}
.row {
	display: flex;
}
.row button {
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
.field {
	position: relative;
	margin: 20px;
	width: 400px;
	height: 400px;
	background-color: yellow;
}
.ball {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: white;
	animation: move 2s linear forwards;
}
@keyframes move {
	from {
		left: 0;
		top: 0;
	}
	25% {
		left: 350px;
		top: 0;
	}
	50% {
		left: 0;
		top: 350px;
	}
	75% {
		left: 350px;
		top: 350px;
	}
	to {
		left: 0;
		top: 0;
	}
}
